In [1]:
import pandas as pd

#### Step : Read data file into Dataframe

In [2]:
data_file = '../data/33.778305_-84.399166_Solcast_PT60M.csv'

In [3]:
data_init = pd.read_csv(data_file)

In [4]:
print(data_init.columns)

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity', 'Dhi',
       'Dni', 'Ghi', 'PrecipitableWater', 'RelativeHumidity', 'SnowWater',
       'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'],
      dtype='object')

In [5]:
len(data_init.columns)

14

#### Step : Select Features

In [6]:
feature_columns = ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi', 'PrecipitableWater', 
                   'RelativeHumidity',  'SurfacePressure', 'WindDirection10m', 'WindSpeed10m']

In [7]:
len(feature_columns)

11

In [8]:
data_init = data_init[feature_columns]

In [9]:
len(data_init.columns)

11

#### Step : Rename Features

In [10]:
feature_maps = dict(PeriodEnd = 'PeriodEnd', 
                    PeriodStart = 'PeriodStart', 
                    AirTemp = 'Temperature', 
                    Dhi = 'DHI',
                    Dni = 'DNI', 
                    Ghi = 'Radiation',
                    PrecipitableWater = 'Precipitation', 
                    RelativeHumidity = 'Humidity',
                    SurfacePressure = 'Pressure', 
                    WindDirection10m = 'WindDirection', 
                    WindSpeed10m = 'WindSpeed')

In [11]:
data_init.rename(columns = feature_maps, inplace=True)

In [12]:
data_init.columns

Index(['PeriodEnd', 'PeriodStart', 'Temperature', 'DHI', 'DNI', 'Radiation',
       'Precipitation', 'Humidity', 'Pressure', 'WindDirection', 'WindSpeed'],
      dtype='object')

In [13]:
data_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26205 entries, 0 to 26204
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26205 non-null  object
 1   PeriodStart    26205 non-null  object
 2   Temperature    26205 non-null  float64
 3   DHI            26205 non-null  int64
 4   DNI            26205 non-null  int64
 5   Radiation      26205 non-null  int64
 6   Precipitation  26205 non-null  float64
 7   Humidity       26205 non-null  float64
 8   Pressure       26205 non-null  float64
 9   WindDirection  26205 non-null  int64
 10  WindSpeed      26205 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 2.2+ MB

#### Step : Convert Features Data Type

In [14]:
data_init['PeriodEnd']     = pd.to_datetime(data_init['PeriodEnd']).dt.to_period('T').dt.to_timestamp()
data_init['PeriodStart']   = pd.to_datetime(data_init['PeriodStart']).dt.to_period('T').dt.to_timestamp()
data_init['PeriodEnd']     = pd.to_datetime(data_init['PeriodEnd']).dt.to_period('T').dt.to_timestamp()
data_init['Radiation']     = data_init['Radiation'].astype(float)
data_init['Humidity']      = data_init['Humidity'].astype(int) # or int
data_init['Pressure']      = data_init['Pressure'].astype(float)
data_init['WindDirection'] = data_init['WindDirection'].astype(float)
data_init['WindSpeed']     = data_init['WindSpeed'].astype(float)

/home/mansoor/Projects/MLOps/venv-mlops/lib/python3.6/site-packages/pandas/core/arrays/datetimes.py:1092: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  UserWarning,

In [15]:
data_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26205 entries, 0 to 26204
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26205 non-null  datetime64[ns]
 1   PeriodStart    26205 non-null  datetime64[ns]
 2   Temperature    26205 non-null  float64
 3   DHI            26205 non-null  int64
 4   DNI            26205 non-null  int64
 5   Radiation      26205 non-null  float64
 6   Precipitation  26205 non-null  float64
 7   Humidity       26205 non-null  int64
 8   Pressure       26205 non-null  float64
 9   WindDirection  26205 non-null  float64
 10  WindSpeed      26205 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(3)
memory usage: 2.2 MB

#### Step :  Create  New  Features  [Year, Month, Day]  from PeriodStart and PeriodEnd

In [16]:
data_init['YearPS'] = pd.to_datetime(data_init.PeriodStart).dt.year 
data_init['YearPE'] = pd.to_datetime(data_init.PeriodEnd).dt.year 

data_init['MonthPS'] = pd.to_datetime(data_init.PeriodStart).dt.month 
data_init['MonthPE'] = pd.to_datetime(data_init.PeriodEnd).dt.month

data_init['DayPS'] = pd.to_datetime(data_init.PeriodStart).dt.day 
data_init['DayPE'] = pd.to_datetime(data_init.PeriodEnd).dt.day

In [17]:
data_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26205 entries, 0 to 26204
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26205 non-null  datetime64[ns]
 1   PeriodStart    26205 non-null  datetime64[ns]
 2   Temperature    26205 non-null  float64
 3   DHI            26205 non-null  int64
 4   DNI            26205 non-null  int64
 5   Radiation      26205 non-null  float64
 6   Precipitation  26205 non-null  float64
 7   Humidity       26205 non-null  int64
 8   Pressure       26205 non-null  float64
 9   WindDirection  26205 non-null  float64
 10  WindSpeed      26205 non-null  float64
 11  YearPS         26205 non-null  int64
 12  YearPE         26205 non-null  int64
 13  MonthPS        26205 non-null  int64
 14  MonthPE        26205 non-null  int64
 15  DayPS          26205 non-null  int64
 16  DayPE          26205 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(9)
memory usage: 3.4 MB

In [18]:
data_init.head(4)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,DayPS,DayPE
0,2018-12-31 02:00:00,2018-12-31 01:00:00,12.5,0,0,0.0,36.0,96,989.1,124.0,1.7,2018,2018,12,12,31,31
1,2018-12-31 03:00:00,2018-12-31 02:00:00,12.3,0,0,0.0,36.4,98,989.0,125.0,2.0,2018,2018,12,12,31,31
2,2018-12-31 04:00:00,2018-12-31 03:00:00,12.5,0,0,0.0,36.4,99,988.8,128.0,2.3,2018,2018,12,12,31,31
3,2018-12-31 05:00:00,2018-12-31 04:00:00,13.0,0,0,0.0,35.9,99,988.6,134.0,2.6,2018,2018,12,12,31,31

#### Step: Create Sunrise and Sunset Time Features. 
 The feature have int values (hour). Where there is no sunset or sunrise time we set the value to 0.

In [19]:
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value = 0        
    if row['DayPS'] == 8 and row['DayPE'] == 9 and row['Radiation'] > 0:
        value= 9
    elif row['DayPS'] == 7 and row['DayPE'] == 8 and row['Radiation'] > 0:
        value= 8
    elif row['DayPS'] == 6 and row['DayPE'] == 7 and row['Radiation'] > 0:
        value= 7
    elif row['DayPS'] == 5 and row['DayPE'] == 6 and row['Radiation'] > 0:
        value= 6
    elif row['DayPS'] == 4 and row['DayPE'] == 5 and row['Radiation'] > 0:
        value= 5
    elif row['DayPS'] == 3 and row['DayPE'] == 4 and row['Radiation'] > 0:
        value= 4
    return str(value)

def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['DayPS'] == 15 and row['DayPE'] == 16 and row['Radiation']> 0:
        value= 16
    elif row['DayPS'] == 16 and row['DayPE'] == 17 and row['Radiation']> 0:
        value= 17
    elif row['DayPS'] == 17 and row['DayPE']== 18 and row['Radiation']> 0:
        value= 18
    elif row['DayPS'] == 18 and row['DayPE']== 19 and row['Radiation']> 0:
        value= 19
    elif row['DayPS'] == 19 and row['DayPE']== 20 and row['Radiation']> 0:
        value= 20
    elif row['DayPS'] == 20 and row['DayPE']== 21 and row['Radiation']> 0:
        value= 21
    elif row['DayPS'] == 21 and row['DayPE']== 22 and row['Radiation']> 0:
        value= 22
    elif row['DayPS'] == 22 and row['DayPE']== 23 and row['Radiation']> 0:
        value= 23
    return str(value)

In [20]:
#Create a new column using the function above
data_init['Sunrise'] = data_init.apply(time_to_sunrise, axis=1)

#Create a new column using the function above
data_init['Sunset'] = data_init.apply(time_to_sunset, axis=1)

In [21]:
data_init.Sunrise.unique(), data_init.Sunset.unique()

(array(['0', '4', '5', '6', '7', '8', '9'], dtype=object),
 array(['0', '16', '17', '18', '19', '20', '21', '22', '23'], dtype=object))

In [22]:
data_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26205 entries, 0 to 26204
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26205 non-null  datetime64[ns]
 1   PeriodStart    26205 non-null  datetime64[ns]
 2   Temperature    26205 non-null  float64
 3   DHI            26205 non-null  int64
 4   DNI            26205 non-null  int64
 5   Radiation      26205 non-null  float64
 6   Precipitation  26205 non-null  float64
 7   Humidity       26205 non-null  int64
 8   Pressure       26205 non-null  float64
 9   WindDirection  26205 non-null  float64
 10  WindSpeed      26205 non-null  float64
 11  YearPS         26205 non-null  int64
 12  YearPE         26205 non-null  int64
 13  MonthPS        26205 non-null  int64
 14  MonthPE        26205 non-null  int64
 15  DayPS          26205 non-null  int64
 16  DayPE          26205 non-null  int64
 17  Sunrise        26205 non-null  object
 18  Sunset         26205 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(9), object(2)
memory usage: 3.8+ MB

#### Step : Remove Night Time Data

In [23]:
data_init = data_init.loc[~((data_init['Radiation'] == 0) & (data_init['DNI'] == 0) & (data_init['DHI'] == 0)),:]

In [24]:
data_init.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14084 entries, 11 to 26204
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      14084 non-null  datetime64[ns]
 1   PeriodStart    14084 non-null  datetime64[ns]
 2   Temperature    14084 non-null  float64
 3   DHI            14084 non-null  int64
 4   DNI            14084 non-null  int64
 5   Radiation      14084 non-null  float64
 6   Precipitation  14084 non-null  float64
 7   Humidity       14084 non-null  int64
 8   Pressure       14084 non-null  float64
 9   WindDirection  14084 non-null  float64
 10  WindSpeed      14084 non-null  float64
 11  YearPS         14084 non-null  int64
 12  YearPE         14084 non-null  int64
 13  MonthPS        14084 non-null  int64
 14  MonthPE        14084 non-null  int64
 15  DayPS          14084 non-null  int64
 16  DayPE          14084 non-null  int64
 17  Sunrise        14084 non-null  object
 18  Sunset         14084 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(9), object(2)
memory usage: 2.1+ MB

In [25]:
data_init.head(4)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,DayPS,DayPE,Sunrise,Sunset
11,2018-12-31 13:00:00,2018-12-31 12:00:00,15.5,2,0,2.0,28.2,95,987.4,170.0,3.8,2018,2018,12,12,31,31,0,0
12,2018-12-31 14:00:00,2018-12-31 13:00:00,16.1,23,0,23.0,28.9,96,987.6,173.0,4.2,2018,2018,12,12,31,31,0,0
13,2018-12-31 15:00:00,2018-12-31 14:00:00,16.6,77,0,77.0,29.6,96,987.7,174.0,4.6,2018,2018,12,12,31,31,0,0
14,2018-12-31 16:00:00,2018-12-31 15:00:00,17.2,117,0,117.0,30.2,96,987.3,177.0,5.1,2018,2018,12,12,31,31,0,0

#### Step : Create Feature Data based on PeriodEnd

In [26]:
data_init['Date'] = pd.to_datetime(data_init['PeriodEnd']).dt.date

In [27]:
data_init.head(3)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,DayPS,DayPE,Sunrise,Sunset,Date
11,2018-12-31 13:00:00,2018-12-31 12:00:00,15.5,2,0,2.0,28.2,95,987.4,170.0,3.8,2018,2018,12,12,31,31,0,0,2018-12-31
12,2018-12-31 14:00:00,2018-12-31 13:00:00,16.1,23,0,23.0,28.9,96,987.6,173.0,4.2,2018,2018,12,12,31,31,0,0,2018-12-31
13,2018-12-31 15:00:00,2018-12-31 14:00:00,16.6,77,0,77.0,29.6,96,987.7,174.0,4.6,2018,2018,12,12,31,31,0,0,2018-12-31

#### Step : Group Data with Respect to 'Date'

In [28]:
agg_dict = {
    'Temperature':'mean',
    'DHI':'mean',
    'DNI':'mean',
    'Radiation':'mean',
    'Precipitation':'mean',
    'Humidity':'mean',
    'Pressure':'mean',
    'WindDirection':'mean',
    'WindSpeed':'mean',
    'Sunrise':'max',
    'Sunset':'max',
}

In [29]:
df_grouped = data_init.groupby(['Date']).agg(agg_dict)
df_grouped.reset_index(inplace=True)
df_grouped

,Date,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,Sunrise,Sunset
0,2018-12-31,17.954545,83.545455,11.181818,85.909091,30.100000,93.272727,985.781818,182.181818,5.363636,0,0
1,2019-01-01,17.145455,119.818182,9.000000,122.454545,32.600000,85.090909,988.036364,293.454545,2.009091,0,0
2,2019-01-02,13.372727,74.181818,5.363636,74.636364,29.018182,83.090909,989.472727,271.727273,0.736364,0,0
3,2019-01-03,12.481818,60.272727,0.000000,60.272727,32.000000,92.181818,985.063636,340.909091,1.545455,0,0
4,2019-01-04,14.909091,91.090909,110.000000,128.636364,24.436364,95.090909,975.718182,203.090909,5.545455,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1087,2021-12-22,8.254545,36.818182,709.545455,319.545455,5.709091,47.000000,980.354545,316.272727,5.954545,0,0
1088,2021-12-23,10.527273,38.181818,699.545455,314.909091,6.927273,33.818182,988.518182,143.909091,1.818182,0,0
1089,2021-12-24,12.827273,115.454545,387.545455,246.181818,14.009091,50.909091,985.981818,206.818182,3.281818,0,0
1090,2021-12-25,16.627273,136.727273,27.909091,149.636364,25.745455,76.636364,980.272727,240.909091,5.054545,0,0
1091,2021-12-26,19.590000,115.000000,413.400000,284.300000,24.850000,73.900000,982.410000,254.700000,1.710000,0,0

In [30]:
df_grouped['Sunrise'] = df_grouped['Sunrise'].astype(int) 
df_grouped['Sunset'] = df_grouped['Sunset'].astype(int) 
df_grouped['Month'] = pd.to_datetime(df_grouped['Date']).dt.month

In [31]:
df_grouped.head(4)

,Date,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,Sunrise,Sunset,Month
0,2018-12-31,17.954545,83.545455,11.181818,85.909091,30.100000,93.272727,985.781818,182.181818,5.363636,0,0,12
1,2019-01-01,17.145455,119.818182,9.000000,122.454545,32.600000,85.090909,988.036364,293.454545,2.009091,0,0,1
2,2019-01-02,13.372727,74.181818,5.363636,74.636364,29.018182,83.090909,989.472727,271.727273,0.736364,0,0,1
3,2019-01-03,12.481818,60.272727,0.000000,60.272727,32.000000,92.181818,985.063636,340.909091,1.545455,0,0,1

In [32]:
df_grouped.shape

(1092, 13)

#### Step: Save Data into CSV

In [36]:
save_file = '../data/clean_data.csv'

In [37]:
df_grouped.to_csv(save_file, index=False)